#section-about {
  background: linear-gradient(
    180deg,
    rgba(253, 225, 222, 1) 0%,
    rgba(148, 102, 111, 1) 100%
  );
  height: fit-content;
  padding-bottom: 50px;
  margin-top: -60px;
}

.carousel-caption-mobile {
  display: none;
}

.carousel-inner {
  width: 80vw;
  margin: auto;
  margin-bottom: 50px;
}

.about-image-container {
  background-color: aqua;
  display: block;
  height: 39vw;
  width: 70vw;
  margin: auto;
}

.about-image {
  height: 39vw;
  width: 70vw;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgb(255, 255, 255);
  color: #94666f !important;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.411);
  width: 50vw;
  margin: auto;
}

.about-title {
  font-weight: 600;
  font-size: 3em;
}

.about-description {
  font-size: 1.7em;
}

.ending-container {
  animation: float 6s ease-in-out infinite;
  background-color: white;
  width: fit-content;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}

.ending-text {
  color: #94666f;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.carousel-navigation{
  display: block;
  height: 50px;
  width: 50px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media only screen and (max-width: 1700px) {
  .about-title {
    font-weight: 600;
    font-size: 1.5em;
  }

  .about-description {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1440px) {
  .about-title {
    font-weight: 600;
  }

  .about-description {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 900px) {
  .carousel-inner {
    width: 100vw;
    margin: auto;
    margin-bottom: 50px;
  }

  .about-image-container {
    background-color: aqua;
    display: block;
    height: 100vw;
    width: 100vw;
    margin: auto;
  }

  .about-image {
    height: 100vw;
    width: 100vw;
    object-fit: cover;
  }

  .carousel-caption {
    display: none;
  }

  .carousel-caption-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
    height: 100px;
    width: 100vw;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: #94666f !important;
    text-align: center;
    padding: 10px 30px 0 30px;
  }
}

@media only screen and (max-width: 550px) {
  .carousel-caption-mobile {
    height: 200px;
  }
}
