.container {
  padding-bottom: 50px;
}

.ligne {
  display: flex;
  margin-top: 20px;
  align-items: flex-end;
  padding-right: 40px;;
}

.colonne1-3 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.colonne2-3 {
  width: 70%;
}

.software {
  height: 60px;
}

.temoin {
  margin: 0% 10%;
}

.temoin-legende {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-container h1{
  margin:0;
  margin-bottom: 40px;
}

.skills-container{
  width: 60%;
  background: white;
  border-radius: 25px;
  margin: auto;
  margin-top:50px;
  padding-bottom: 50px;
  padding-top: 40px;
}

#section-skills{
  margin:0;
  padding:0;
  background-image: url('../../../../Images/Background.gif');
  height: fit-content;
  padding-top:5px;
  padding-bottom:50px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.software-css{
  height: 60px;
  position: absolute;
  margin-top:150px
}

.barre-css{
  height : 25px;
  width: 500px;
  border-radius: 7px;
  border: 1px solid #94666f;
}

.niveau-css{
  position: absolute;
  z-index: 50;
  height : 25px;
  width: 750px;
  border-radius: 7px;
  background-color: #cc909c;
  right: 500px;
  margin-top:10px;
}

.colonne-css{
  margin-top:50px;
}


@media only screen and (max-width: 1440px) {
  .skills-container{
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .software{
    height: 50px;
  }
}


@media only screen and (max-width: 768px) {
  .ligne {
    display: block;
    margin-top: 50px;
    padding:10px;
  }

  .colonne1-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .colonne2-3 {
    width: 100%;
  }

  .skills-container{
    width: 100%;
  }

  .barre-css{
    width: auto;
  }

  .niveau-css{
    width: 350px;
    right: 50px;
  }

  .software{
    height: 80px;
  }

  .software-css{
    left:0;
  }
}
