
/* .mountain-image {
  width: 100%;
  position: absolute;
}

.inset {
  position: absolute;
  inset: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.full {
    height: 100vh;
  }
